
{% extends 'base.html' %}
{% block body %}

<h2>About Us</h2>

<div class="about-discription">
	<p>We make a variety of kunafa's and Buklafa's with love to make your vibe enjoyable and full of love.</p>

	<p>Kunafa House,carrying this sweet & pleasent journey that started in this year with kunefe varieties & Baklava,although it is a new company,it is walking with confident and fast steps towards being one of the favourite desserts of Cape Town, loved by visitors and customers.</p>

 
	<br>
	<br>
	<br>
	
	<p>Our dessert brings a new meaning to the art of Gift-giving for all occasions whether for family, friends or business associates.
	</p>
	
</div>

{% endblock %}